<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 15 years of experience as a software engineer.  I have worked for a largee corporation as a Distinguished Engineer with focus on middleware technologies and performance.  Most recently I have been focusing on non-profits and small startups. 
 While I'm a proficient full-stack developer, my expertise is in building and supporting scalable backend services.  

        </p>
        <p>
           I love software new technologies, coding and troubleshooting problems in systemand application performance. 
           While hard engineering problems are often fun to tackle,
           I'm most attracted to solving real customer problems.
           I'm always interested in any opportunity where I can apply my current technical expertise or have an opportunity to grow.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Managed a large enterprise middleware and performance engineering organizationl
    			</li>
          <li>
            Developed an enterprise J2EE application framework.
          <li>
            Designing, deploying and managing a self-hosted Wordpress site
    			<li>
            Enterprise Architect at a Fortune 500 Health Insurance Company specializing in middleware technologies.
    			</li>
    			<li>
            Amazon AWS Certified Solutions Architect.
    			</li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
